services:
  api:
    build: .
    container_name: nest-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    command: sh -c "npx prisma migrate dev --name init && node dist/main.js"

  postgres:
    image: postgres:16
    container_name: payments-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: payments-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
